{% extends 'base/_base.html' %}
{% import 'base/_components.html' as c %}

{% block title %}New Event: {{ event_title }}{% endblock %}

{% block preheader %}{{ created_by }} added "{{ event_title }}" on {{ event_date }}.{% endblock %}

{% block content %}
{{ c.heading('New Event Added') }}
{{ c.subheading('Hi ' ~ to_name ~ ', ' ~ created_by ~ ' added an event to your shared calendar.') }}

{% call c.info_card() %}
{{ c.detail_row('Event', event_title) }}
{{ c.detail_row('Date', event_date) }}
{{ c.detail_row('Time', event_time) }}
{{ c.detail_row('Added By', created_by) }}
{% endcall %}

{{ c.button(calendar_url, 'View Calendar') }}

{{ c.help_note(frontend_url) }}
{% endblock %}
